<article>
  <header>
    <h1>{{title}}</h1>
  </header>
  <p>
    Palindrome: a word, phrase, or sequence that reads the same backward as forward, e.g., madam. This form checks input given by the user for a palindrome. It ignores spaces and punctuation, so multiple words can count as a palindrome.
  </p>
  <form action="/result" method="post">
    <label for="palindromeText">Enter text and click submit to see if it is a palindrome:</label>
    <input type="text" name="palindromeText" id="palindromeText">
    <input type="submit" value="Submit">
  </form>
</article>